<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.media.jwvideoplayer.lib">

    <application>
        <provider
            android:name="com.media.jwvideoplayer.lib.provider.ACProvider"
            android:authorities="${applicationId}.contextprovider"
            android:exported="false" />
    </application>
</manifest>